* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  /*background-color: black;*/
  margin-left: 50px;
  /*background-color: black;*/
}

.row {
  display: block;
  margin-top: 10px;

}


#jumbotron {
  background: url("images/banners/david-sheldrick-elephant-orphanage.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 60vh;
  opacity: 0.5;
  z-index: -10;
  position: relative;
}

h1 {
  font-size: 5em;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
}

#jumbotron::after {
    /*padding-top: 3em;*/
    width: 50%;
    height: 10vh;
    color: black;
    position: absolute;
    top: 7em;
    left: 3em;
    z-index: 10;
    color: #34282C;
}

.button {
  padding: 1%;
}

/*img {
  margin-left: $spacer-x !important;
}*/
