body {
  padding: 0px;
  margin: 0 auto;
  height: 100;
}
.wrapper{
  min-height: 100%;
  margin-bottom: -30px;
}
.footer,
.push {
  color: gray;
  height: 60px;
  margin: 0px;
}
.navbar {
  margin: 0px;
  padding: 0px;
}
.row {
  display: block;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.choose {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  background-color: white;
  border: solid black;
  height: 34px;
  width: 12vw;
  min-width: 125px;
  text-align: center;
  margin-right: 1em;
  margin-bottom: 1em;
}
#productHeadline {
  font-family: 'Oswald', sans-serif;
  color: black;
  margin-left: .4em;
  margin-bottom: 0px;
}
h1 {
  font-size: 5em;
  font-family: 'Oswald', sans-serif;
}
/*@media (max-width: 70em) {
  #longBanner {
  visibility:hidden;
  }
}
@media (max-height: 40em) {
  #longBanner {
  visibility:hidden;
  }
}*/
#jumboText {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 1em;
  padding-top: 2%;
  padding-left: 2%;
  width: 95vw;
  min-height: 30vh;
  color: black;
}

#longBanner {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 95vw;
  min-height: 40vh;
  margin-bottom: 2%;
  margin-left: 2%;
  background-image: url('images/banners/longbanner.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#chooseAnimal {
  margin-left: 2%;
}

p {
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  color: black;
}
